body{
    background: url('../Images/Outer_Banks.jpg') no-repeat center center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    background-size: auto;
    -o-background-size: auto;
  }

#title{
    margin:3%;
    text-align:center;
    text-shadow: -2px 0 #8ec3eb, 0 2px #8ec3eb, 2px 0 #8ec3eb, 0 -2px #8ec3eb;
    color:wheat;
    font-weight: bold;
    text-decoration:underline;
    font-size:60px;
    line-height:80px;
    font-family: 'Space Mono', monospace;
}